
#exchange_cont {
    margin-top: 30px;
}

#exchange_cont .exchange_side {
    display: inline-block;
    width: 435.8px; /* 436.8px */
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

#exchange_cont .exchange_title {
    line-height: 35px;
    font-size: 25px;
    /* background-color: red; */
    margin: 0px auto;
    margin-bottom: 15px;
    width: 270px;
    border-bottom: 1px solid grey;
}

/* -------------------------------------------------------------------------- */

#exchange_left {
    /* background-color: green; */
}

#exchange_left .left_button_cont {
    width: 270px;
    margin: 15px auto;
    line-height: 60px;
    font-size: 22px;
}

#exchange_left .left_button {
    /* background-color: green; */
    width: 150px;
    display: inline-block;
    cursor: pointer;
    padding: 1px;
}

#exchange_left .left_button:hover {
    border: 1px solid grey;
    padding: 0px;
}

#exchange_left .left_button:active {
    border: none;
    padding: 1px;
}

#exchange_left .left_button.off {
    opacity: 0.5;
    cursor: default;
}

#exchange_left .left_button.off:hover {
    border: none;
    padding: 1px;
}

#exchange_left .left_button.selected {
    border: 1px solid grey;
    padding: 0px;
}

#exchange_left .left_button_icon_cont {
    /* background-color: red; */
    display: inline-block;
    margin-left: 10px;
    padding: 1px;
}

#exchange_left .left_button_icon_cont .inline_arrow {
    cursor: pointer;
    margin: 0px 3px;
}

#exchange_left .left_button_icon_cont .inline_arrow.left::before {
    font-family: FA Solid;
    content: "\f053";
}

#exchange_left .left_button_icon_cont .inline_arrow.right::before {
    font-family: FA Solid;
    content: "\f054";
}

#exchange_left .left_button_icon_cont .left_button_icon {
    height: 40px;
    vertical-align: middle;
    margin: 0px 5px;
    margin-bottom: 6px;
    display: inline-block;
}

#exchange_left .left_button_icon_cont .left_button_icon.off {
    opacity: 0.5;
}

/* -------------------------------------------------------------------------- */

#exchange_right {
    /* background-color: red; */
    border-left: 2px solid grey;
}

#exchange_right .right_res {
    display: block;
    margin: 5px auto;
    width: 70px;
    cursor: pointer;
    opacity: 0.5;
}

#exchange_right .right_res:hover {
    opacity: 1.0;
}

#exchange_right .right_res:active {
    opacity: 0.5;
}

#exchange_right .right_res.selected {
    opacity: 1.0;
}

#exchange_submit {
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: #898989;
    cursor: default;
}

#excghange_submit.on {
    cursor: pointer;
}

#exchange_submit.on:hover {
    background-color: #ababab;
}

#exchange_submit.on:active {
    background-color: #898989;
}
