
#board_canvas_cont {
    /* text-align: center; */
    height: 756px; /* (540 * 1.5 = 810) (540 * 1.4 = 756) */
    background-size: contain;
    display: none;
}

#board_canvas {
    display: none;
    /* display: block; */
    width: 873.6px; /* (624 * 1.5 = 936) (624 * 1.4 = 873.6) */
    /* height: 756px; */ /* (540 * 1.5 = 810) (540 * 1.4 = 756) */
}

/* -------------------------------------------------------------------------- */
