
#bottom_pannel {
    /* display: none; */
}

#bottom_pannel #wait_bar_cont.item img {
    display: block;
    width: 80%;
    margin: 0px auto;
}

/* -------------------------------------------------------------------------- */

#dices_cont.item {
    width: 150px;
    height: 50px;
    margin: 0px auto;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

#dices_cont.item:hover {
    width: 200px;
}

#dices_cont.item:hover > .center_text {
    opacity: 1;
}

#dices_cont.item .center_text {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    opacity: 0;
}

#dices_cont.item .dice {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 50px;
    border-radius: 5px;
}

#dices_cont.item .dice.left {
    left: 0px;
}

#dices_cont.item .dice.right {
    right: 0px;
}
