
.button {
    cursor: pointer;
    width: 200px;
    line-height: 40px;
    font-size: 25px;
    background-color: #ababab;
    margin: 0px auto;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.button:hover {
    background-color: #b9c0c0;
}

.button:active {
    background-color: #ababab;
    /* color: #000000; */
}
