* {
	/* background-color: rgba(0, 0, 0, 0.5); */
}

body {
	margin: 0;
	font-family: PTSerif Regular;
	/* background-color: #fff; */
	background-color: #2396be;
	font-size: 17px; /*standard font-size*/

	/*margin-top: 50px;
	margin-bottom: 50px;*/

}

/*----------------------------------------------------------------------------*/
#general_cont {
	/* margin-bottom: 100px; */
	margin: 0px 0px;
}

/*----------------------------------------------------------------------------*/
