
#left_pannel {
    top: 0px;
    left: 0px;
    /* display: none; */
}

/* -------------------------------------------------------------------------- */

#res_number, #dev_number {
    background-color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    /* font-weight: bold; */
    cursor: help;
}

#res_number.red {
    color: red;
}

/* -------------------------------------------------------------------------- */

#left_pannel .item img {
    display: block;
    width: 100%;
}

#left_pannel .item.dev img {
    cursor: pointer;
}

#left_pannel .item .number {
    position: absolute;
    top: -7px;
    right: -7px;

    font-size: 20px;
    line-height: 25px;
    width: 25px;
    border-radius: 12.5px;
    text-align: center;

    background-color: rgba(255, 255, 255, 1.0);
}

/* -------------------------------------------------------------------------- */

#left_pannel #switch_button {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

#left_pannel #switch_button:hover {
    color: #ababab;
}

#left_pannel #switch_button:active {
    color: #ffffff;
}

#left_pannel #switch_button::before {
    /* font-size: 15px; */
    font-family: FA Solid;
    content: "\f362";
}
