
#loading_screen {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #2396be;
    padding-top: 20px;
    text-align: center;
}

#top_msg_compatibility.item.subtitle {
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
}
