
#login_form_cont {
    /* display: none; */
}

#middle_pannel .item.menu {
    /* padding-top: 200px; */
    padding-top: 20px;
}

#middle_pannel .item.menu .item {
    margin: 30px 0px;
}

#middle_pannel .item.menu .item img {
    width: 300px;
}

#middle_pannel .item.menu .item input {
    width: 300px;
    border: none;
    border-bottom: 2px solid #756e6e;
    font-size: 25px;
    line-height: 40px;
    padding: none;
    font-family: PTSerif Regular;
    text-align: center;
}
