
#middle_pannel {
    height: 756px; /* (540 * 1.5 = 810) (540 * 1.4 = 756) */
    background-image: url('../img/hexbg_800.png');
    background-size: contain;
}

#waiting_gif_cont {
    display: none;
    padding-top: 25px;

}

#waiting_gif_cont img {
    width: 700px;
}
