
.pannel.side {
    position: absolute;
    width: 120px;
    /* background-color: green; */
}

.pannel.center {
    /* OJO QUE EL CANVAS ESTÁ CONTENIDO EN UN PANNEL CENTER */
    width: 873.6px; /* (624 * 1.5 = 936) (624 * 1.4 = 873.6) */
    /* background-color: green; */
    margin: 35px auto;
}

.pannel.side .item {
    position: relative;
    width: 80px;
    margin: 10px auto;
}

.pannel.center .item {
    /* background-color: red; */
    text-align: center;
}
