
#popup_pannel {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    color: #ffffff;
}

#popup_pannel #close_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#popup_pannel #popup_cont {
    position: relative;
    z-index: 3;
    margin-top: 60px;
    /* background-color: green; */
}

#popup_pannel #popup_cont #popup_title {
    font-size: 25px;
}

#popup_pannel #close {
    /* background-color: black; */
    color: rgba(193, 66, 66, 0.5);
    font-size: 40px;
    line-height: 70px;
    width: 200px;
    margin: 0px auto;
    text-align: center;
    cursor: pointer;
}

#popup_pannel #close:hover {
    color: rgba(193, 66, 66, 1.0);
}

#popup_pannel #close:active {
    color: rgba(193, 66, 66, 0.5);
}

#popup_pannel #close::before {
    font-family: FA Solid;
    content: "\f00d";
}

/* -------------------------------------------------------------------------- */

#won_cards_cont {
    margin: 0px 0px;
    margin-top: 50px;
}

#won_cards_cont .won_card {
    width: 150px;
    margin: 0px 10px;
}

#won_cards_num_cont {
    margin: 0px 0px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#won_cards_num_cont .won_card_num {
    display: inline-block;
    /* background-color: green; */
    width: 150px;
    margin: 0px 10px;
    font-size: 30px;
}

#won_card_description_cont {
    width: 300px;
    margin: 20px auto 50px auto;
    text-align: center;
    font-size: 20px;
}

/* -------------------------------------------------------------------------- */

#opponents_cont {
    margin-top: 50px;
    margin-bottom: 50px;
}

#opponents_cont .avatar {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 150px;
    margin: 0px 10px;
    cursor: pointer;
}

#opponents_cont .avatar:hover {
    background-color: rgba(192, 192, 192, 0.5);
}

#opponents_cont .avatar:active {
    background-color: white;
}

#opponents_cont .avatar img {
    display: block;
    width: 100%;
}

/* -------------------------------------------------------------------------- */
