
#right_pannel {
    top: 0px;
    right: 0px;
    /* background-color: green; */
}

#right_pannel .item {

}

#menu_button {
    /* background-color: #ffffff; */
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    /* font-weight: bold; */
    cursor: pointer;
}

#menu_button::before {
    font-family: FA Solid;
    color: #ffffff;
    content: "\f0c9";
}

#right_pannel .item .avatar {
    padding: 5px;
    border-radius: 5px;
}

#right_pannel .item .avatar.color0 {
    /* AMARILLO */
    background-color: rgba(192, 192, 192, 0.5);
}

#right_pannel .item .avatar.color1 {
    /* AMARILLO */
    background-color: white;
}

#right_pannel .item .avatar.color2 {
    /* AZUL */
    background-color: white;
}

#right_pannel .item .avatar.color3 {
    /* MORADO */
    background-color: white;
}

#right_pannel .item .avatar.color4 {
    /* ROJO */
    background-color: white;
}

#right_pannel .item .avatar img {
    display: block;
    width: 100%;
}

#right_pannel .item .online {
    position: absolute;
    top: -7px;
    right: -7px;

    font-size: 20px;
    line-height: 25px;
    width: 25px;
    border-radius: 12.5px;
    text-align: center;

    background-color: rgba(158, 188, 46, 1.0);
}

#right_pannel .item .online.on {
    background-color: #9ebc2e;
}

#right_pannel .item .online.off {
    background-color: #756e6e;
}

#right_pannel .item .attributes_cont {
    height: 22px;
    margin: 5px 0px;
    display: none;
}

#right_pannel .item .attributes_cont .attr {
    float: left;
    margin: 0px 2px;

    font-size: 20px;
    line-height: 22px;
    width: 22px;

    text-align: center;

    border-radius: 2px;

    background-color: rgba(255, 255, 255, 1.0);

    cursor: help;
}

/* -------------------------------------------------------------------------- */
#right_pannel .item .card_icon {
    background-color: white;
    text-align: center;
    margin: 5px 2px;
    border-radius: 2px;
    cursor: help;
    display: none;
}

#right_pannel .item .card_icon.roads::before {
    font-family: FA Solid;
    content: "\f018";
    color: #756e6e;
}

#right_pannel .item .card_icon.knights::before {
    font-family: FA Solid;
    content: "\f441";
    color: #756e6e;
}

#right_pannel .item .card_icon.ready::before {
    font-family: FA Solid;
    content: "\f00c";
    color: #756e6e;
}

/* -------------------------------------------------------------------------- */
#right_pannel #game_info_cont {
    background-color: #ffffff;
    border-radius: 2px;
    display: none;
}

#right_pannel #game_info_cont div.text.left {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 15px;
    /* color: #2a2a2a; */
}
